{#
/**
 * @file
 * Template for request admin list page.
 *
 * Available variables:
 * - requests: Array of request admin records.
 * - add_button: Rendered add button.
 * - header: Table header array.
 */
#}

<div class="request-admin-list-container">
  <div class="row mb-3">
    <div class="col-12">
      <h1>{{ 'Request Admin List'|t }}</h1>
      <div class="action-buttons">
        {{ add_button }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            {% for key, column in header %}
              <th>{{ column }}</th>
            {% endfor %}
          </tr>
          </thead>
          <tbody>
          {% if requests %}
            {% for request in requests %}
              <tr>
                <td>{{ request.edit_link }}</td>
                <td>{{ request.id_request_admin }}</td>
                <td>{{ request.no_request }}</td>
                <td>{{ request.tgl_request_formatted }}</td>
                <td>{{ request.nama_pemesan }}</td>
                <td>{{ request.keterangan|striptags|raw }}</td>
                <td>
                  {% if request.file_link %}
                    {{ request.file_link }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="{{ header|length }}" class="text-center">{{ 'No records found.'|t }}</td>
            </tr>
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
